.background {
    background-color: var(--color5);
}

.division {
    flex: 1 1 420px;
}

.profile {
    display: flex;
    justify-content: end;
    padding-right: 100px;
}

.profile picture {
    display: flex;
    justify-content: center;
    width: clamp(180px, 22vw, 300px);
    padding: 4px;
    border-radius: 50%;
    background-color: var(--color5);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.profile img {
    width: 100%;
    border-radius: 50%;
}

.infos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}

.infos i {
    color: var(--color5);
}

.infos i:hover {
    transform: scale(1.1);
    color: var(--color4);
}

.infos h1 {
    font-size: clamp(32px, 5vw, 52px);
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.buttons a {
    display: inline-block;
    text-decoration: none;
    border-radius: 24px;
    padding: 10px 40px;
}

.contactButton {
    border: 0;
    background-color: var(--color5);
    color: var(--color1);
}

.projectButton {
    border: 2px solid var(--color5);
    background-color: var(--color1);
    color: var(--color5);
}

.links {
    display: flex;
    gap: 15px;
    font-size: 34px;
}

.ink {
    background-color: var(--color1);
    fill: var(--color5);
    width: 100%;
    height: 40px;
}

.ink path {
    background-color: var(--color1);
}

@media (max-width: 929px) {
    .profile {
        display: flex;
        justify-content: center;
        padding-right: 0;
    }

    .infos {
        align-items: center;
        text-align: center;
    }

    .buttons {
        justify-content: center;
    }

    .links {
        justify-content: center;
    }

}