@import url('https://fonts.googleapis.com/css2?family=Chiron+GoRound+TC:wght@200..900&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Mada:wght@200..900&family=Noto+Sans+Symbols:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", sans-serif;
    scroll-behavior: smooth;
}

:root {
    --color0: #7c2d12;
    --color1: #fca61d;
    --color2: #fdbc51;
    --color3: #fed385;
    --color4: #fee9b9;
    --color5: #ffffed;
}